includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    #checkGenericClassInNonGenericObjectType: false
    #symfony:
    #    container_xml_path: %rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml
    #stubFiles:
    #    - dev/stubs/KernelTestCase.stub
    excludePaths:
    #    - %rootDir%/../../../src/Kernel.php
    #    - %rootDir%/../../../config/bootstrap.php
        - %rootDir%/../../../tests/bootstrap.php
    paths:
       - %rootDir%/../../../src
       - %rootDir%/../../../tests
